@model SisPDC.DTOs.UtilizadorDTO

@{
    Layout = "_LayoutUtente";
    ViewData["Title"] = "Pagina principal";
}

@section Styles {
    <link href="~/css/especialidade.css" rel="stylesheet" />
}

<!-- Main content -->
<div class="content-wrapper p-2">
    <h1>Area do utente</h1>
</div>